<%- include("../includes/head.ejs") %>

<!-- Login form -->    
<form action="http://localhost:5000/signup" method="POST">

    <div>

        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <input type="text" placeholder="Repeat Password" name="repeatPassword">

    </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary">Sign Up</button>

    </form>

</div>
</body>
</html>